---

---

<section
  class="h-screen snap-start section-03 bg-[url('/img/soluciones-impresas/bg-instalaciones-profesionales.webp')] bg-cover bg-center lg:px-0 px-6"
>
  <div class="container mx-auto flex flex-col justify-center h-full">
    <article class="flex flex-col items-center gap-4">
      <picture class="instalador">
        <img src="/img/soluciones-impresas/instalador.webp" alt="Instalador" />
      </picture>
      <h2
        class="font-space-grotesk text-black 2xl:text-7xl xl:text-5xl text-4xl font-bold text-center title-section-03"
      >
        Instalación profesional
      </h2>
      <p class="text-[#575757] text-center description-section-03 max-w-[650px] xl:text-xl lg:text-lg text-base">
        Contamos con técnicos con experiencia específica en retail: instalación
        de viniles en cristales, reemplazo de letreros colgantes y espectaculares,
        armado de estructuras promocionales. Nos encargamos de que todo se
        vea perfecto y estandarizado.
      </p>
    </article>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  const instalerTl = gsap.timeline({
  });

  const pharagraphTl = gsap.timeline({
  });

  let paragraphSplit: SplitText;

  document.fonts.ready.then(() => {
    paragraphSplit = new SplitText(".description-section-03", {
      type: "lines",
      mask: "lines",
    });
  });

  ScrollTrigger.create({
      scroller: "main",
      trigger: ".section-03",
      // Esto pasa cuando el trigger entra en la pantalla
      onLeaveBack: () => {
        pharagraphTl.clear();
        instalerTl.clear();
      },
      onEnter: () => {
        instalerTl.fromTo(
          [".instalador", ".title-section-03"],
          {
            y: 50,
            autoAlpha: 0,
          },
          {
            delay: 0.3,
            y: 0,
            autoAlpha: 1,
            duration: 1.5,
            ease: "power3.out",
          }
        );

        pharagraphTl.fromTo(
          paragraphSplit.lines,
          {
            y: 30,
            autoAlpha: 0,
          },
          {
            y: 0,
            delay: 1,
            autoAlpha: 1,
            duration: 1.5,
            ease: "power3.out",
          }
        );
      },
    });
</script>
