---

---

<section
  class="bg-[url('img/servicios-integrales/experiencia-bg.webp')] bg-cover bg-center h-screen section-02 snap-start lg:px-0 px-6"
>
  <article
    class="text-center flex flex-col items-center justify-center lg:gap-8 gap-4 h-full"
  >
  <div class="flex relative">
    <picture class="animate absolute top-8 -left-9">
      <img
        src="img/experiencias-audiovisuales/como-lo-hacemos-lapiz.webp"
        alt="Como lo hacemos"
        class="xl:w-auto lg:w-16 w-12"
      />
    </picture>
    <picture class="animate">
      <img
        src="img/experiencias-audiovisuales/como-lo-hacemos-foco.webp"
        alt="Como lo hacemos"
        class="xl:w-auto lg:w-34 w-30"
      />
    </picture>
    <picture class="animate absolute top-8 -right-7">
      <img
        src="img/experiencias-audiovisuales/como-lo-hacemos-pincel.webp"
        alt="Como lo hacemos"
        class="xl:w-auto lg:w-16 w-12"
      />
    </picture>
  </div>
    <h2 class="2xl:text-7xl xl:text-7xl lg:text-6xl text-4xl font-bold text-black animate leading-none">
      ¿Cómo lo hacemos?
    </h2>
    <p class="text-gray-800 lg:text-xl text-lg animate">
      Combinamos creatividad y estrategia para<br/> generar piezas de alto impacto en
      sectores<br/> como educación, inmobiliarias, salud, retail,<br/> restaurantes y más.
    </p>
  </article>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const objetcs = document.querySelectorAll(".animate");

  gsap.registerPlugin(ScrollTrigger);

  const defaults = {
    delay: 0.25,
    duration: 1,
    ease: "power4.out",
  };

  ScrollTrigger.create({
    scroller: "main",
    trigger: ".section-02",
    onEnter: () => {
      gsap.fromTo(
        objetcs,
        {
          y: 1000,
          ...defaults,
        },
        {
          y: 0,
          stagger: {
            amount: 0.15,
            from: "random",
          },
          ...defaults,
        }
      );
    },
  });
</script>
