---
import { VideoSlider } from '@components/react/VideoSlider';
import 'swiper/css';
---

<section class="h-screen snap-start section-05 bg-gradient-to-b from-purple-900 to-black">
  <div class="container mx-auto flex items-center justify-center h-full relative">
    <VideoSlider client:visible />
  </div>
</section>