---
import { VideoSlider } from '@components/react/VideoSlider';
import 'swiper/css';
---

<section class="h-[100dvh] snap-start section-05 bg-gradient-to-b from-purple-900 to-black lg:px-0 px-6">
  <div class="container mx-auto flex items-center justify-center h-full relative">
    <VideoSlider client:only />
  </div>
</section>