---
interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props as Props;

---

<div role="contentinfo" class="flex items-center gap-1 px-4 rounded bg-white/7 w-[485px] h-38 service-card">
  <picture class="h-25 min-w-28">
    <img src={image} alt={title} class="h-full w-full object-contain"/>
  </picture>
  <article class="space-y-1 self-start mt-5">
    <h3 class="font-space-grotesk text-2xl font-bold text-fuchsia-200">{title}</h3>
    <p class="text-purple-200 leading-snug">{description}</p>
  </article>
</div>