---

---

<section
  class="bg-[url('img/servicios-integrales/enfoque-estrategico-bg.webp')] h-screen relative section-3 snap-start lg:px-0 px-6"
>
  <article
    class="text-center flex flex-col items-center justify-center gap-5 h-full"
  >
    <picture class="enfoque-estrategico lg:w-auto w-56 relative top-10">
      <img
        src="img/servicios-integrales/enfoque-estrategico.webp"
        alt="Como lo hacemos"
      />
    </picture>
    <h2
      class="2xl:text-7xl xl:text-7xl lg:text-6xl text-4xl font-bold text-rose-to-purple py-2.5 lg:w-auto"
    >
      Enfoque<br class="lg:hidden" /> estratégico
    </h2>
    <p class="text-gray-50 lg:text-xl text-lg">
      Analizamos referentes y tendencias en comunicación dentro del<br class="lg:block hidden" /> sector
      y cómo responde la audiencia a esos estímulos. Con esa<br class="lg:block hidden" /> base, estructuramos
      ideas, seleccionamos los formatos<br class="lg:block hidden" /> adecuados y diseñamos piezas que conectan
      efectivamente<br class="lg:block hidden" /> con la audiencia y cumplen el objetivo del cliente.
    </p>
  </article>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const section3 = document.querySelector(".section-3") as HTMLElement;
  const children = section3.children[0].children;

  gsap.registerPlugin(ScrollTrigger);

  const defaults = {
    delay: 0.2,
    duration: 0.8,
    stagger: 0.1,
    ease: "power4.out",
  };

  ScrollTrigger.create({
    scroller: "main",
    trigger: section3,
    onEnter: () => {
      gsap.fromTo(
        children,
        {
          y: 1000,
          ...defaults,
        },
        {
          y: 0,
          ...defaults,
        }
      );
    },
  });
</script>