---
import PageHomeTitle from "@components/PageHomeTitle.astro";
import "@styles/custom.css";
---

<section
  class="container mx-auto lg:grid lg:grid-cols-2 flex flex-col h-screen snap-start pt-20.5 lg:px-0 px-6 relative overflow-hidden"
>
  <img
    src="/img/puntos.svg"
    alt="Puntos"
    class="absolute bottom-10 lg:left-0 left-2 xl:w-8 lg:w-6 w-5"
  />
  <article class="flex flex-col justify-center items-end">
    <div class="lg:w-3/4 flex flex-col xl:gap-5 gap-3">
      <PageHomeTitle
        title="Servicios"
        titleExalted="Integrales"
        description="Diseñamos y activamos campañas digitales integrales, producimos video o animación 2D comercial, comunicación impresa en múltiples formatos, personalizamos espacios comerciales."
      />
      <picture class="picture mt-2 lg:h-auto h-35 lottie-anim">
        <img
          src="/img/servicios-integrales/contenido.webp"
          alt="Representación de contenido digital"
          class="rounded h-full mx-auto"
        />
      </picture>
    </div>
  </article>

  <div class="flex justify-start items-end relative lg:mt-0 mt-auto img">
    <img
      src="/img/servicios-integrales/tools.webp"
      alt="Tools"
      class="absolute lg:top-20 lg:right-1/2 top-0 right-0 floating-element-3s xl:w-auto w-12"
    />
    <img
      src="/img/servicios-integrales/ad-file.webp"
      alt="Ad File"
      class="absolute lg:top-38 lg:left-40 top-6 left-26 -rotate-12 floating-element-6s xl:w-auto w-12"
    />
    <img
      src="/img/servicios-integrales/file.webp"
      alt="File"
      class="absolute lg:top-80 lg:left-16 top-26 left-7 -rotate-12 blur-[2.5px] floating-element-9s xl:w-auto w-12"
    />
    <img
      src="/img/servicios-integrales/edit-poligon.webp"
      alt="Edit Poligon"
      class="absolute lg:top-3/5 lg:left-14 bottom-10 left-11 -rotate-4 blur-[1.5px] floating-element-3s delay-3s xl:w-auto w-12"
    />

    <picture class="lg:w-[703px] w-86 lg:mx-0 mx-auto">
      <img
        src="/img/servicios-integrales/personaje.webp"
        alt="Personaje"
      />
    </picture>
  </div>

  <img src="/img/puntos.svg" alt="Puntos" class="absolute lg:top-30 top-24 lg:right-0 right-2 xl:w-8 lg:w-6 w-5" />
</section>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline({});

  tl.from(['.title', '.description', '.lottie-anim', '.img'], {
    autoAlpha: 0,
    y: 100,
    delay: 0.2,
    duration: 1,
    ease: 'power2.inOut',
  });

</script>