---
import BorderText from "@components/pages/quienes-somos/BorderText.astro";
---

<section
  class="bg-gradient-to-b from-black via-purple-900 to-purple-400 h-[300dvh] section-5 relative snap-start"
>
  <article
    class="flex flex-col justify-center items-center sticky top-56 overflow-hidden article py-10"
  >
    <BorderText
      text="ESTRUCTURAMOS LA"
      textFill="ESTRUCTURAMOS"
      id="text-left text-1"
    />
    <BorderText
      text="COMUNICACIÓN VISUAL DE TU"
      textFill="VISUAL"
      id="text-right text-2"
    />
    <BorderText
      text="MARCA PARA CONECTARLA"
      textFill="MARCA"
      id="text-left text-3"
    />
    <BorderText
      text="CON TU AUDIENCIA"
      textFill="AUDIENCIA"
      id="text-right text-4"
    />
  </article>
</section>
