---
import BorderText from "@components/pages/quienes-somos/BorderText.astro";
---

<section
  class="bg-gradient-to-b from-black via-purple-900 to-purple-400 h-screen section-5 relative snap-start flex items-center justify-center"
>
  <article
    class="flex flex-col justify-center items-center article"
  >
    <BorderText
      text="ESTRUCTURAMOS LA"
      textFill="ESTRUCTURAMOS"
      id="text-left text-1"
    />
    <BorderText
      text="COMUNICACIÓN VISUAL DE TU"
      textFill="VISUAL"
      id="text-right text-2"
    />
    <BorderText
      text="MARCA PARA CONECTARLA"
      textFill="MARCA"
      id="text-left text-3"
    />
    <BorderText
      text="CON TU AUDIENCIA"
      textFill="AUDIENCIA"
      id="text-right text-4"
    />
  </article>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);
  let splitText: SplitText;
  let exaltedText: SplitText;

  document.fonts.ready.then(() => {
    splitText = new SplitText(".article", {
      type: "words",
      tag: "span",
    });
    exaltedText = new SplitText(".exalted-text", {
      type: "words",
      tag: "span",
    });
  });

  ScrollTrigger.create({
    scroller: "main",
    trigger: ".section-5",
    onEnter: () => {
      gsap.fromTo(
        splitText.words,
        {
          y: 40,
          autoAlpha: 0,
          filter: "blur(10px)",
        },
        {
          delay: 0.3,
          y: 0,
          duration: 0.7,
          stagger: 0.1,
          autoAlpha: 1,
          filter: "blur(0px)",
          ease: "power4.out",
        }
      );

      gsap.to(
        exaltedText.words,
        {
          y: 40,
        },
      );
    },
  });
</script>
