---
import PageHomeTitle from "@components/PageHomeTitle.astro";
import '@styles/custom.css';

---

<section
  class="container mx-auto lg:grid lg:grid-cols-2 flex flex-col h-screen snap-start relative pt-20.5 lg:px-0 px-6 overflow-hidden"
>
  <img
    src="img/puntos.svg"
    alt="Puntos"
    class="absolute bottom-10 lg:left-0 left-2 xl:w-8 lg:w-6 w-5"
  />
  <article class="flex flex-col justify-center items-end relative z-1">
    <div class="lg:w-[500px] w-full flex flex-col xl:gap-10 gap-3 tracking-wider">
      <PageHomeTitle
        title="Campañas"
        titleExalted="Interactivas"
        description="Creamos estrategias publicitarias y contenido dinámico diseñado para cada plataforma digital, asegurando el máximo impacto."
      />
      <div class="flex gap-2 items-center">
        <picture class="picture">
          <img
            src="img/campanas-interactivas/analitica-de-ventas.webp"
            alt="Representación de contenido digital"
            class="rounded-lg"
          />
        </picture>
        <div class="flex flex-col gap-4">
          <picture class="picture">
            <img
              src="img/campanas-interactivas/product.webp"
              alt="Representación de contenido digital"
              class="rounded-lg"
            />
          </picture>
          <picture class="picture">
            <img
              src="img/campanas-interactivas/product.webp"
              alt="Representación de contenido digital"
              class="rounded-lg"
            />
          </picture>
        </div>
      </div>
    </div>
  </article>

  <div class="flex items-end relative lg:mt-0 mt-auto">
    <img
      src="img/campanas-interactivas/message.webp"
      alt="Tools"
      class="absolute lg:top-30 lg:left-2/7 top-5 right-10 floating-element-3s rotate-3"
    />
    <img
      src="img/campanas-interactivas/ad-button.webp"
      alt="Ad File"
      class="absolute lg:top-38 lg:left-20 top-30 right-10 -rotate-12 floating-element-6s blur-[1px]"
    />
    <img
      src="img/campanas-interactivas/laptop.webp"
      alt="File"
      class="absolute lg:top-64 lg:-left-5 top-20 left-10 -rotate-12 blur-[2.5px] floating-element-9s"
    />
    <img
      src="img/campanas-interactivas/ad-phone.webp"
      alt="Edit Poligon"
      class="absolute lg:top-96 lg:-left-14 top-50 left-10 -rotate-20 blur-[1.5px] floating-element-3s delay-3s"
    />

    <picture class="lg:w-[400px] w-56 lg:mx-0 mx-auto">
      <img
        src="img/campanas-interactivas/personaje.webp"
        alt="Personaje"
      />
    </picture>
  </div>

  <img src="img/puntos.svg" alt="Puntos" class="absolute lg:top-30 lg:right-0 top-24 right-2 xl:w-8 lg:w-6 w-5" />
</section>
