---
import Footer from "@components/Footer.astro";
import ServicesSlide from "@components/pages/quienes-somos/ServicesSlide.astro";

---

<section
class="bg-[url('/img/servicios-integrales/enfoque-estrategico-bg.webp')] h-screen section-6 snap-start relative"
>
  <div class="container mx-auto h-full flex justify-center lg:items-center">
    <ServicesSlide />
  </div>
  <Footer />
</section>
 