---
import CampainServiceCard from "@components/pages/campanas-interactivas/CampainServiceCard.astro";
import type { AdService } from "@utils/data";

interface Props {
  campainServices: AdService[];
}
const { campainServices }: Props = Astro.props;
---

<section class="h-screen snap-start bg-gray-950 py-24 section-03">
  <div class="h-full container mx-auto flex flex-col items-center">
    <h2 class="text-transparent bg-clip-text bg-gradient-to-b from-rose-300 to-purple-600 text-7xl font-bold title-s-03 leading-normal">Tipos de campañas</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16 gap-y-8 mt-16">
      {campainServices.map((service) => (
        <CampainServiceCard {...service} />
      ))}
    </div>
  </div>
</section>

<style is:inline>

  .title-s-03-char {
    display: inline-block;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom, oklch(81% 0.117 11.638), #9810fa);
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  let titleSplit: SplitText;
  
  document.fonts.ready.then(() => {
    titleSplit = new SplitText(".title-s-03", {
      type: "lines",
      mask: "lines",
      linesClass: "title-s-03-char",
    });
  })

  const cards = document.querySelectorAll("#card");

    ScrollTrigger.create({
      scroller: "main",
      trigger: ".section-03",
      onEnter: () => {
        gsap.from(
          titleSplit.lines,
          {
            delay: 0.5,
            y: 50,
            autoAlpha: 0,
            duration: 0.9,
            ease: "power4.out",
          }
        );

        gsap.fromTo(
          cards,
          {
            y: 100,
            autoAlpha: 0,
            filter: "blur(10px)",
          },
          {
            delay: 0.8,
            y: 0,
            autoAlpha: 1,
            filter: "blur(0px)",
            stagger: 0.1,
            duration: 0.8,
            ease: "sine.out",
          }
        );
      },
    });
</script>