@import "tailwindcss";

@theme {
  --color-primary-color: oklch(0.558 0.288 302.321);
  --color-secondary-color: oklch(0.591 0.293 322.896);

  --font-primary: 'Poppins', sans-serif;

  --animate-loader-lines: loader-lines 2.8s ease-in-out forwards;

  @keyframes loader-lines {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

body {
  @apply font-primary bg-primary-color text-white;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

