@import "tailwindcss";

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-league-spartan: 'League Spartan', sans-serif;

  --color-primary-50: #F7A6EE;
  --color-primary-300: #B75BAC;
  --color-primary-600: #822D78;

  --color-neutral-50: #DEC2FF;
  --color-neutral-300: #B47EF4;
  --color-neutral-600: #8942DC;

  --color-info-50: #FFD2E4;
  --color-info-300: #FF85B6;
  --color-info-600: #FF4B93;

  --color-success-50: #FFFFFF;
  --color-success-300: #F7F0F0;
  --color-success-600: #F4E8E8;

  --color-warning-50: #B3B2B7;
  --color-warning-300: #514F5B;
  --color-warning-600: #222128;

  --color-error-50: #F96EA1;
  --color-error-300: #EF397C;
  --color-error-600: #D6014F;
  --animate-loader-lines: loader-lines 2.2s ease-in-out forwards;

  @keyframes loader-lines {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

body {
  @apply font-manrope text-white;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1024px) {
  .swiper-slide-active > div {
    @apply scale-110;
  }
}

.title-style {
  @apply font-bold bg-clip-text text-transparent !bg-gradient-to-b !from-success-600 !to-info-50 py-1;
}

.text-rose-to-purple {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-rose-300 to-purple-600;
}