---
import { Icon } from "astro-icon/components";
---

<section class="lg:h-screen w-full bg-success-300 relative overflow-hidden">
  <Icon
    name="puntos"
    class="absolute top-20 left-0 2xl:size-36 xl:size-32 lg:size-28 hidden lg:block"
  />
  <div
    class="container mx-auto flex flex-col lg:flex-row lg:gap-30 gap-10 justify-center items-center xl:mt-26 lg:mt-14 lg:py-0 pt-10 pb-21"
  >
    <article class="flex flex-col lg:items-start items-center xl:gap-10 lg:gap-5 gap-2.5 lg:max-w-[30%] max-w-84 relative">
      <Icon
        name="the-design"
        width={58.73}
        height={60.9}
        class="2xl:w-14 xl:w-12 lg:w-10 w-12 lg:absolute xl:-top-20 lg:-top-12 xl:-left-20 lg:-left-12"
      />
      <h1
        class="2xl:text-6xl xl:text-5xl lg:text-4xl text-2xl font-semibold text-[#252525] font-plus-jakarta-sans"
      >
        El diseño es<br class="lg:block hidden"/> solo el inicio
      </h1>
      <p class="2xl:text-lg xl:text-base/6.5 lg:text-sm/6 text-warning-300">
        Cuidamos cada detalle en la creación de cada pieza gráfica,
        asegurándonos de comprender no solo los objetivos del cliente, sino
        también cómo estos se traducen en valor para su audiencia. Analizamos el
        contexto de cada proyecto para diseñar soluciones visuales precisas,
        alineadas con su propósito y su impacto en el usuario final.
      </p>
    </article>
    <div class="relative 2xl:mt-50 xl:mt-60 lg:mt-50 space-y-6 lg:space-y-0">
      <img
        src="/img/botella.webp"
        alt="Design 1"
        class="object-cover relative z-2 2xl:w-auto xl:w-80 lg:w-72 w-58"
      />
      <img
        src="/img/teclado.webp"
        alt="Design 1"
        class="absolute -top-20 -left-20 2xl:w-auto xl:w-60 lg:w-52 w-58 hidden lg:block"
      />
      <img
        src="/img/teclado-sin-blur.webp"
        alt="Design 1"
        class="w-58 lg:hidden"
      />
    </div>
  </div>
  <h1
    class="2xl:text-[400px] xl:text-[340px] lg:text-[300px] text-[27vw] font-plus-jakarta-sans font-bold italic text-[#F1EBEB] absolute 2xl:-bottom-52 xl:-bottom-45 lg:-bottom-35 -bottom-14 xl:-left-2 text-center w-full pointer-events-none"
  >
    DISEÑO
  </h1>
</section>
