---
import { ServicesSlider } from "@components/react/ServicesSlider";
---

<section class="w-full h-screen bg-warning-600 xl:py-26 lg:py-24">
  <div role="contentinfo" class="container mx-auto h-full">
    <ServicesSlider client:load />
  </div>
</section>
