---
import { MobileServiceCard } from "@components/MobileServiceCard";
import { ServicesSlider } from "@components/react/ServicesSlider";
import { servicesWithLongDescription } from "@utils/data";
---

<section class="w-full lg:h-screen bg-warning-600 xl:py-26 lg:py-24 py-20">
  <div role="contentinfo" class="container mx-auto h-full">
    <ServicesSlider client:load />

    <div class="w-max mx-auto lg:hidden space-y-10">
      {
        servicesWithLongDescription.map((service) => (
        <MobileServiceCard
          title={service.title}
          subtitle={service.subtitle}
          description={service.description}
          image={service.image}
        >
          <service.icon strokeWidth={1.25} className="size-8"/>
        </MobileServiceCard>
      ))
    }
    </div>
  </div>
</section>
