---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---
  
<Layout title="Alowee | Video y Animación 2D" load={false}>
  <section class="flex justify-center items-center max-h-screen relative container mx-auto">
    <article class="flex flex-col gap-4 w-max">
      <div class="w-[420px] h-[144px]">
        <h1 class="[letter-spacing:-4px] px-0.5 text-6xl/18 font-black bg-clip-text text-transparent bg-gradient-to-b from-success-50 bg-info-50 text-center mr-auto title">█▓▒░# █▓▒░#</h1>
      </div>
      <div class="mb-4 w-[430px]">
        <hr class="hr1"/>
        <hr class="border-1 hr2"/>
      </div>
      <h3 class="text-success-300 text-3xl subtitle">Contenido audiovisual</h3>
      <p class="text-success-600 text h-[200px] overflow-hidden">
        para cualquier pantalla, desde redes sociales<br/> hasta proyección en cines.
        Transformamos<br/> ideas en videos dinámicos, interactivos y de<br/> alto impacto.
        Contamos con experiencia en<br/> sectores como educación, inmobiliarias,<br/>
        salud, retail, restaurantes y más.
      </p>
    </article>
    <div class="relative w-[616px] min-h-[742px]">
      <video class="absolute z-3 shadow rounded min-w-[80vw] min-h-[742px] translate-x-[-44%] translate-y-[-10px] object-cover object-center video-01 transform-3d bg-black" src="/video/video-01.mp4" autoplay muted loop playsinline></video>
      <video class="absolute -right-16 z-2 shadow rounded min-w-[616px] min-h-[742px] object-cover object-center video-02 scale-90 transform-3d" src="/video/video-02.mp4" muted loop playsinline></video>
      <video class="absolute -right-32 z-1 shadow rounded min-w-[616px] min-h-[742px] object-cover object-center video-03 scale-80 transform-3d" src="/video/video-03.mp4" muted loop playsinline></video>
    </div>
  </section>
  <Icon name="video-decoration" class="absolute top-1/2 -translate-y-1/2 left-20" width={16} height={125} />
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";


  type Video = HTMLVideoElement | null;
  
  const video01: Video = document.querySelector(".video-01");
  const video02: Video = document.querySelector(".video-02");
  const video03: Video = document.querySelector(".video-03");

  const title = document.querySelector(".title");
  const subtitle = document.querySelector(".subtitle");
  const text = document.querySelector(".text");

  const hr1 = document.querySelector(".hr1");
  const hr2 = document.querySelector(".hr2");

  const videosTl = gsap.timeline({
    delay: 2,
    repeat: -1,
    repeatDelay: 2,
  });


  videosTl.to(video01, {
    minWidth: 616,
    x: 0,
    y: 0,
    duration: 1,
    ease: "power2.inOut",
  }).to(video01, {
    minWidth: 616,
    x: "0%",
    y: 0,
    duration: 1,
    ease: "power2.inOut",
    delay: 2,
  }).to(video01, {
    x: "200%",
    rotateY: -90,
    duration: 1.5,
    ease: "power2.inOut",
    delay: .5,
  }).to(video02, {
    onStart: () => {
      video02?.play();
    },
    right: 0,
    scale: 1,
    duration: .7,
    ease: "power2.inOut",
  }, 4.5).to(video03, {
    scale: .90,
    right: -64,
    duration: .7,
    ease: "power2.inOut",
  }, 4.5).to(video02, {
    x: "200%",
    rotateY: -90,
    duration: 1,
    ease: "power2.inOut",
    delay: 1,
  }).to(video03, {
    onStart: () => {
      video03?.play();
    },
    right: 0,
    scale: 1,
    duration: .6,
    ease: "power2.inOut",
  }, 7)/* ? animation back */.to(video02, {
    x: 0,
    rotateY: 0,
    ease: "power2.inOut",
    duration: 1,
    delay: 1.5,
  }).to(video03, {
    scale: .90,
    right: -64,
    duration: 1,
    ease: "power2.inOut",
  }, 9.5).to(video01, {
    x: 0,
    rotateY: 0,
    duration: 1,
    ease: "power2.inOut",
    delay: 0.5,
  }).to(video03, {
    scale: .80,
    right: -128,
    duration: 1,
    ease: "power2.inOut",
  }, 11).to(video02, {
    scale: .90,
    right: -64,
    duration: 1,
    ease: "power2.inOut",
  }, 11).to(video01, {
    minWidth: "80vw",
    x: "-44%",
    duration: 1,
    ease: "power2.inOut",
    delay: 1,
  });

  const hrTl = gsap.timeline({
    delay: 2.3,
  });

  hrTl.fromTo(hr1, {
    width: 0,
  }, {
    opacity: 1,
    width: "100%",
    duration: 1,
    ease: "power2.inOut",
  }).fromTo(hr2, {
    width: 0,
  }, {
    width: 36,
    duration: 1,
    ease: "power2.inOut",
  }, 0);

  gsap.registerPlugin(ScrambleTextPlugin);

  const textTl = gsap.timeline({
    delay: 2.5,
  });
  
  textTl.to(title, {
    duration: 1.5,
    scrambleText: {
      text: "VIDEO Y ANIMACIÓN 2D",
      chars: "█▓▒░#"
    },
  }).from(subtitle, {
    opacity: 0,
    duration: 1,
    y: 30,
    ease: "power2.inOut",
  }, 1).fromTo(text, {
    opacity: 0,
    duration: 1,
    lineHeight: "2.5rem",
    y: 30,
    ease: "power2.inOut",
  }, {
    lineHeight: "1.5rem",
    opacity: 1,
    y: 0,
    ease: "power2.inOut",
    duration: 1,
  }, 1);

</script>