---
import { LottieAnimation } from "@components/lottie/LottieAnimation";
import PageHomeTitle from "@components/PageHomeTitle.astro";
import "@styles/custom.css";

---

<section
  class="container mx-auto lg:grid lg:grid-cols-2 flex flex-col h-screen snap-start relative pt-20.5 lg:px-0 px-6 overflow-hidden"
>
  <img
    src="/img/puntos.svg"
    alt="Puntos"
    class="absolute bottom-10 lg:left-0 left-2 xl:w-8 lg:w-6 w-5"
  />
  <article class="flex flex-col justify-center items-end relative z-1">
    <div class="lg:w-[550px] w-full flex flex-col lg:gap-10 gap-6 tracking-wider">
      <PageHomeTitle
        title="Desarrollo"
        titleExalted="Web"
        description="Creamos soluciones digitales eficientes, escalables y optimizadas para brindar experiencias fluidas."
      />
      <div class="flex items-center">
        <LottieAnimation client:load path="/lottie/WEB.json" autoplay loop className="h-30 lg:h-60 lottie-anim" />
      </div>
    </div>
  </article>

  <div class="flex items-end relative lg:mt-0 mt-auto img">
    <img
      src="/img/desarrollo-web/dev-icon.webp"
      alt="Tools"
      class="absolute lg:top-36 lg:left-64 top-10 right-2 floating-element-3s -rotate-3"
    />
    <img
      src="/img/desarrollo-web/configure-icon.webp"
      alt="Ad File"
      class="absolute lg:top-44 lg:left-26 top-20 left-6 -rotate-12 floating-element-6s blur-[1px]"
    />
    <img
      src="/img/desarrollo-web/tool-icon.webp"
      alt="File"
      class="absolute lg:top-74 lg:left-10 top-50 right-4 -rotate-12 blur-[2.5px] floating-element-9s"
    />

    <picture class="lg:-translate-x-36 lg:w-auto w-86 lg:mx-0 mx-auto">
      <img
        src="/img/desarrollo-web/personaje.webp"
        alt="Personaje"
      />
    </picture>
  </div>

  <img src="/img/puntos.svg" alt="Puntos" class="absolute lg:top-30 top-24 lg:right-0 right-2 xl:w-8 lg:w-6 w-5" />
</section>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline({});

  tl.from(['.title', '.description', '.lottie-anim', '.img'], {
    autoAlpha: 0,
    y: 100,
    delay: 0.2,
    duration: 1,
    ease: 'power2.inOut',
  });

</script>