---

---

<section
  class="h-screen snap-start section-02 bg-[url('/img/servicios-integrales/experiencia-bg.webp')] bg-cover bg-center"
>
  <article class="container mx-auto flex flex-col items-center justify-center h-full text-black gap-10">
    <h1 class="text-7xl font-bold title-s-02">¿Qué hacemos?</h1>
    <p class="text-center text-xl description-p01">
      Desde sitios informativos hasta aplicaciones web interactivas,
      implementamos<br/> tecnologías de vanguardia para potenciar tu presencia
      digital.
    </p>
    <picture class="img-codigo">
      <img src="/img/desarrollo-web/code.webp" alt="Código" />
    </picture>
  </article>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.create({
    scroller: 'main',
    trigger: '.section-02',
    onEnter: () => {
      gsap.fromTo(['.title-s-02', '.description-p01', '.img-codigo'], {
        y: 800,
      }, {
        y: 0,
        delay: 0.3,
        duration: 0.8,
        stagger: 0.05,
        ease: "power4.out",
      })
    }
  })
  
  
</script>