---

---

<header class="py-4 mb-4 container mx-auto">
  <div class="flex items-center justify-between">
    <img src="./icons/alowee-icon.svg" alt="Alowee Interactive" width={117}>

    <nav class="text-lg space-x-10">
      <a href="">Servicios</a>
      <a href="">Paquetes</a>
      <a href="">Portafolio</a>
      <button class="bg-neutral-300 border-2 border-neutral-600 px-5 py-3 rounded-md text-success-300 cursor-pointer">
        Contacto
      </button>
    </nav>
  </div>
</header>