---
import { cn } from "@utils/cn";
interface Props {
  text: string;
  styles?: string;
}

const { text, styles }: Props = Astro.props;

const defaultClass = "2xl:text-[400px] xl:text-[340px] lg:text-[250px] text-[24vw] font-tertiary font-bold italic text-[#F1EBEB] absolute 2xl:-bottom-52 xl:-bottom-44 xl:-left-2 lg:-bottom-32 text-center w-full pointer-events-none";
---

<h1
  class={cn(defaultClass, styles)}
>
  { text }
</h1>
