<header class=" p-8">
  <nav class="flex gap-5 justify-center text-white">
    <a href="/#">Inicio</a>
    <a href="/#nosotros">Nosotros</a>
    <a href="/#">Alowee</a>
    <a href="/#servicios">Servicios</a>
    <a href="/#contacto">Contacto</a>
  </nav>
</header>