---
import { Icon } from "astro-icon/components";
import NavbarMenu from "./NavbarMenu.astro";
---

<header class="py-10">
  <div role="menubar" class="flex items-center justify-between max-w-7xl mx-auto">
    <Icon name="alowee-icon" width={120} height={70}/>
    <button class="bg-neutral-300 py-3 px-6 border-2 border-neutral-600 rounded-md text-2xl cursor-pointer">
      MENÚ
    </button>
  </div>
</header>

<NavbarMenu />

<script>
  
</script>
