---
import { Icon } from "astro-icon/components";


---

<div role="group" class="p-[2px] rounded-lg bg-gradient-to-br from-success-50 to-[#B47EF4]">
  <div role="contentinfo" class="flex flex-col items-center px-4 py-3 rounded-lg bg-gradient-to-t from-neutral-600 to-purple-950">
    <Icon name="alowee-icon" width={120} height={70}/>
    <h3 class="text-center font-secondary text-2xl font-bold">Diseño de Identidad Visual</h3>
    <p class="text-center">Creamos identidades visuales únicas y memorables para tu marca.</p>
  </div>
</div>