---
interface Props {
  icon: string;
  title: string;
  subtitle: string;
  description: string;
}

const { icon, title, subtitle, description }: Props = Astro.props;
---

<>
  <div>
    
  </div>
</>
