---
import 'swiper/css';
import ServicesCard from './ServicesCard.astro';
import { services } from '@/utils/data';
---

<div class="swiper lg:mt-0 mt-10">
  <div class="swiper-wrapper py-6.5">
    {services.map((service) => (
      <div class="swiper-slide cursor-grab active:cursor-grabbing">
        <ServicesCard title={service.title} description={service.description} icon={service.icon} />
      </div>
    ))}
  </div>
</div>

<script>
  import Swiper from 'swiper';

  new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,
    spaceBetween: 25,
    breakpoints: {
      1536: {
        slidesPerView: 4,
      },
      1024: {
        slidesPerView: 3,
      },
      768: {
        slidesPerView: 1,
      },
    },
  });
</script>